[submodule "modules/google-chrome"]
	path = modules/google-chrome
	url = https://github.com/mstenta/puppet-chrome.git
[submodule "modules/gnome"]
	path = modules/gnome
	url = git@github.com:mstenta/puppet-gnome.git
[submodule "modules/apt"]
	path = modules/apt
	url = https://github.com/puppetlabs/puppetlabs-apt.git
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
