[submodule "modules/google-chrome"]
	path = modules/google-chrome
	url = https://github.com/mstenta/puppet-chrome.git
[submodule "modules/gnome"]
	path = modules/gnome
	url = git@github.com:mstenta/puppet-gnome.git
